* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin: 20px auto;
}
video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin: 20px auto;
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

/*------------- media til web ----------*/
@media (min-width: 700px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid_1-1-3rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .forsidebil {
    width: 80%;
    position: relative;
    margin: 100px 0px 0px 150px;
  }

  #h1_forside {
    font-size: 4.5rem;
    color: #c46b05;
    font-family: astoria;
  }

  .forside_knap {
    margin-top: -10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #c46b05;
    box-shadow: 0px 6px 10px #00000086;
  }

  .forside_knap:hover {
    color: #c46b05;
    background-color: #fff;
  }

  .navn {
    margin-left: 100px;
    font-size: 3rem;
    font-family: astoria;
  }

  .noget {
    display: flex;
    justify-content: space-between;
  }
}
