@font-face {
  font-family: "astoria";
  src: url("astoriaextrabold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #003f67;
  color: #fff;
}

h1 {
  font-family: astoria;
  color: #c46b05;
  text-align: center;
  margin: 50px 0px 10px 0px;
}

.orangetekst {
  color: #c46b05;
}

.noget {
  display: grid;
}

.hvidtekst {
  color: #fff;
}

.forside_knap {
  margin-top: 30px;
  font-size: 1.3rem;
}

.navn {
  font-family: astoria;
  margin: -15px 0px 0px 50px;
}

p,
h2,
h3 {
  margin: 20px;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}

#h1_forside {
  text-align: left;
  margin: 0px 0px 20px 20px;
}

.knap {
  padding: 10px;
  border-radius: 8px;
  background-color: #c46b05;
  box-shadow: 0px 6px 10px #00000086;
  font-size: 1rem;
}

.knap:hover {
  color: #c46b05;
  background-color: #fff;
  transition: all 0.5s ease 0s;
}

.opgave_link {
  text-decoration: underline;
  font-size: 1rem;
  color: #c46b05;
}

/*------------- Header ------------*/
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 60px;
  margin-block: 30px;
}

a {
  text-decoration: none;
  margin: 20px;
  color: #fff;
  font-size: 1.5rem;
  font-family: astoria;
}

a:hover {
  color: #c46b05;
  transition: all 0.5s ease 0s;
}

.aktiv_side {
  text-decoration: underline;
}

/*------------------- footer -------------*/

.footer {
  margin-top: -35px;
  text-align: center;
}

footer p {
  margin: 0.5rem;
}

.streg {
  width: 90%;
  height: 7px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c46b05;
  border-radius: 3px;
  margin-block: 50px;
}
footer .streg {
  margin-top: 7rem;
}
/*-------------- portfolio -----------------*/

.opgave_billeder {
  margin: auto;
}

/*---------------- Burger menu --------------*/

.burgermenu {
  display: none;
  cursor: pointer;
  margin: 20px 20px 0px 0px;
}

.bar1 {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c46b05;
}
.bar2 {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c46b05;
}
.bar3 {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c46b05;
}

@media (max-width: 700px) {
  .burgermenu {
    display: block;
  }

  .nav_link {
    transition: 0.7s ease;
  }

  .bar2.active {
    opacity: 0;
  }
  .bar1.active {
    transform: translateY(8px) rotate(45deg);
  }
  .bar3.active {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* Det her er selve indholdet i menuen */
  .nav_menu {
    position: relative;
    left: -100%;
    top: 20px;
    gap: 0;
    flex-direction: column;
    text-align: right;
    transition: 0.3s;
  }

  .nav_item {
    margin: 5px 0;
  }

  .nav_menu.active {
    left: 0;
  }
  .navbar {
    display: flex;
    justify-content: end;
  }
}

/*----------- animationer ---------*/

.ind_fra_ventre {
  animation: ind_fra_ventre 2s;
}

@keyframes ind_fra_ventre {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

.pil {
  animation: pil 2s infinite;
}

@keyframes pil {
  0% {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-20%);
  }
}

/*--------------- om mig ------------ */

dl {
  margin-left: 20px;
}
dd {
  margin-bottom: 20px;
}

.centrering {
  text-align: center;
}

.pil {
  width: 7%;
  margin: 100px auto;
}

@media (max-width: 700px) {
  .pil {
    display: none;
  }
}
